.Product{
    width: 50%;
    height: auto;
    &-title{
        text-align: center;
        color: #fc6076;
    }
    &-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-item{
        width:100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        font-size:20px;
        font-weight:500;
    }
    &-image{
        width: 200px;
        height: 200px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            &:before{
              left: calc(100% + 120px);
              opacity: 1;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top: 0;
            width: 30%;
            height: 100%;
            left: calc(0% - 113px);
            z-index: 1;
            opacity: 0;
            transform: skew(50deg);
            background: rgba(0,0,0,.14);
            transition: all .5s ease-in-out
        }
        img{
            width: 100%;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
    &-option{
       button{
        width: 150px;
        height: 40px;
        background: #25aae1;
        border: 1px solid #25aae1;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          background:transparent;  
          border: 1px solid #25aae1;
          color: #25aae1;
        }
       }
    }
}
.Product-detail{
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.01);
        box-shadow: inset 0 0 5px rgba(0,0,0,.01);
    }
}