.login-form-block{
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: flex-start;
    position:relative;
    .login-form-background{
        position:absolute;
        width:100%;
        height:100%;
        object-fit: cover;
    }
    .footer-form{
        width:100%;
        display: flex;
        justify-content: space-between;
    }
    .login-input{
        height:50px;
        font-size:20px;
        &:placeholder{
            font-size:20px;
            margin-left:5px
        }
    }
    .login-form-button{
        width: 200px;
        height:50px;
        font-size:20px;
        &:hover{
            background:transparent
        }
    }
}
.login-form-container{
    position: absolute;
    z-index:2;
    top: 25%;
    left:5%;
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeOut 1s linear;
    h1{
        text-align:center;
    }
}
@keyframes fadeOut {
    0%{
        top:30%;
        opacity:0;

    }
    100%{
        top: 25%;
        opacity:1;
    }
}
